@import '../../styles/common.module.less';
// @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

.driveContainer {
  .navigation {
    width: 100%;
    min-height: 36px;
    border-bottom: 1px solid hsl(0, 0%, 77%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 14px 8px;
    background-color: #F7F7F8;


    & > .back {
      width: 30px;
      font-size: 24px;
      color: #555B63;
      margin-top: -4px;
      .activeNav {
        cursor: pointer;
      }

      .disabledNav {
        color: #a3a3a3;
        cursor: not-allowed;
      }

    }
    & > .breadcrumbs {
      color: #c3c3c3;

      .searchResult {
        span {
          color: #616161;
          font-weight: 600;
        }
      }

      .pathName {
        display: inline;

        &:hover {
          color: #616161;
          cursor: pointer;
        }

        span {

          &.active {
            color: #384248;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }

  
    .rightContainer {
      margin-left: auto;
      min-width: 350px;
      max-width: 400px;
      display: flex;

      .searchBox { 
        min-width: 300px;
        display: flex;
        align-items: center;
        background: #fff;
        border: 1px solid #dadada;
        border-radius: 4px;
        padding-left: 0.5rem;
        overflow: hidden;
        font-family: sans-serif;

        & > .prefix {
          font-weight: 300;
          font-size: 14px;
          color: #999;
        }

        & > input {
          flex-grow: 1;
          font-size: 14px;
          background: #fff;
          border: none;
          outline: none;
          padding: 0.5rem;
        }

        &:focus-within {
          border-color: #777;
        }
      }

      .logout {
        margin-left: auto;
        min-width: 40px;
        height: 20px;
        margin-top: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #f5523c;
        font-weight: 700;
      }
    }
  }

  .filesAndFolder {
    padding: 32px; 
    .container {
      display: flex;
      flex-wrap: wrap;

      .folder {
        border-radius: 4px;
        padding: 20px 20px 0px 20px;
        margin: 4px 12px;

        .name {
          margin-top: 8px;
          font-size: 12px;
          text-align: center;
          color: #828589;
        }

        &:hover {
          background-color: #E6F5FF;
        }
      }

      .file {
        border-radius: 4px;
        padding: 20px 20px 0px 20px;
        margin: 4px 12px;
        margin-top: -10px;

        img {
          height: 60px;
        }

        .name {
          margin-top: 8px;
          font-size: 12px;
          text-align: center;
          color: #828589;
        }

        &:hover {
          background-color: #E6F5FF;
        }
      }

      .addNew {
        border-radius: 4px;
        padding: 15px 15px 0px 15px;
        margin: 4px 12px;
        cursor: pointer;

        img {
          height: 70px;
          width: 70px;
        }

        .name {
          margin-top: 8px;
          font-size: 12px;
          text-align: center;
          color: #828589;
        }
      }
    }
  }
}

.show {
  visibility: visible;
  opacity: 1;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(206, 205, 205, 0.274);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;

  .modal {
    position: relative;
    width: 400px;
    height: 300px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    box-shadow: 5px 5px 15px #d3d3d3;
    padding: 40px 20px;
    border-radius: 6px;

    .cross {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 24px;
      cursor: pointer;
      color: #767A7F;
    }

    .title {
      color: #384248;
      text-align: center;
    }

    .fileName {
      .input( 300px, 3px );
      display: block;
      margin: 20px auto;
      border-radius: 6px;
      text-align: center;

      &::placeholder {
        opacity: 0.3;
      }
    }

    .submit {
      .button(@width: 300px);
      display: block;
      padding: 4px 24px;
      border-radius: 6px;
      font-weight: 400;
      margin: 20px auto;
      background-color: #49B8FF;
      text-align: center;

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    .radioWrapper {
      text-align: center;
      margin: 26px 0;
      color: #384248;

      input[type="radio"]{
        display: none;
      }

      .option {
        padding: 2px 12px;
        cursor: pointer;
        border: 1px solid #d3d3d3;

        &:nth-child(1){
          border-radius: 4px;
          background-color: red;
        }
      }

      .option1 {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .option2 {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      

      #option1:checked:checked ~ .option1,
      #option2:checked:checked ~ .option2{
        border-color: #5AB4FB;
        background-color: #5AB4FB;
        color: #fff;
      }
    }
  }
}

.contextMenu {
  position: absolute;
  background-color: #fff;
  color: #828589;
  border: 1px solid #d3d3d3;
  box-shadow: 5px 5px 15px #d3d3d3;
  border-radius: 4px;
  width: 150px;

  p {
    padding: 8px 20px;
    margin-bottom: 0px;
    font-size: 14px;

    &:hover {
      background-color: #f3f3f3;
      cursor: pointer;
    }
  }
}